{% comment %}

  This snippet is used to showcase each collection during the loop,
  'for product in collection.products' in list-collections.liquid and on
  the homepage.

{% endcomment %}

  {% comment %}
    Use capture to put the collection title in a variable that is used in liquid filters
  {% endcomment %}
  {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

{% if template == "index" %}
  {% assign collection = collections[featured] %}
{% endif %}
<!-- snippets/collection-grid-item.liquid -->
<div class="collection-item">
  <div class="grid-image">
    <a href="{{ collection.url }}" class="grid-image--centered">
      {% comment %}
        bring in the product image for the first product in a collection if now collection
        image is specified
      {% endcomment %}
      {% if collection.image %}
        <img src="{{ collection.image.src | img_url: 'medium'}}" alt="{{ collection.image.alt | escape }}">
      {% else %}
        {% assign product = collection.products | first %}
        <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}">
      {% endif %}
    </a>
  </div>
  <p class="collection-item__title">
    <a href="{{ collection.url }}" class="collection-item__title">{{ collection.title }}</a>
  </p>
</div>
