<!-- snippets/featured-collections.liquid -->
<div class="grid--full featured-collections">
  <div class="grid-item text-center">
    <h3 class="section-header--title">{{ 'home_page.sections.featured_title' | t }}</h3>
  </div>

  <div class="grid-item three-quarters push--one-eighth text-center collection-list">

    {% assign index = 0 %}

    {% if settings.home_featured_collections_sort == 'manual' %}
      {% for i in (1..6) %}
        {% assign collection_setting = 'collection_' | append:i %}
        {% if settings[collection_setting] != blank %}
          {% assign index = index | plus: 1 %}
        {% endif %}
      {% endfor %}
    {% else %}
      {% for collection in collections limit:7 %}
        {% unless index > 6 %}
          {% unless collection.handle == 'frontpage' %}
            {% assign index = index | plus: 1 %}
          {% endunless %}
        {% endunless %}
      {% endfor %}
    {% endif %}



    {% if settings.home_featured_collections_sort == 'manual' %}
      {% for i in (1..6)  %}
      {% assign collection_setting = 'collection_' | append:i %}
        {% if settings[collection_setting] != blank %}
          {% assign featured = settings[collection_setting] %}
          {% include 'collection-grid-item' %}
        {% endif %}
      {% endfor %}
    {% else %}
      {% for collection in collections limit:7 %}
        {% unless index > 6 %}
          {% unless collection.handle == 'frontpage' %}
            {% assign featured = collection.handle %}
            {% include 'collection-grid-item' %}
          {% endunless %}
        {% endunless %}
      {% endfor %}
    {% endif %}

    {% if index == 0 %}
      <div class="grid-uniform">
        <div class="grid-item helper-section">
          <div class="helper-note">
            <span class="helper-icon"></span>
            <h3>{{ 'home_page.onboarding.modal_title' | t }}</h3>
            <p>{{ 'home_page.onboarding.no_collections_html' | t }}</p>
            <p><a class="admin-btn-primary" href="/admin/collections">{{ 'home_page.onboarding.add_collection' | t }}</a></p>
          </div>
          <div class="helper-content">
            {% for i in (1..5) %}
              <div class="collection-item">
                <div class="demo-image">
                   <a href="#" class="grid-link__image">
                    {% capture imageUrl %}//cdn.shopify.com/s/images/themes/product-{{ i }}.png{% endcapture %}
                    {{ imageUrl | img_tag }}
                  </a>
                </div>
                <p class="h5"><a href="/admin/collections">{{ 'home_page.onboarding.collection_title' | t }}</a></p>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>
