{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. This variable is blank by default.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}

{% comment %}
  Set a class for sold-out and on-sale items
{% endcomment %}
<!-- snippets/product-grid-item.liquid -->
<div class="product-item{% if grid_item_width %} grid-item {{grid_item_width}} {% else %} fluid-grid-item{% endif %}{% if sold_out %} is-sold-out{% endif %}{% if on_sale %} is-on-sale{% endif %} text-center">
  {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
      you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
      - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

  {% endcomment %}
  <div class="grid-image">
    <a href="{{ product.url | within: collection }}" class="grid-image--centered">
      {% if on_sale and sold_out != true %}
        <span class="product-item__on-sale">{{ "products.product.on_sale" | t }}</span>
      {% endif %}
      <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
      {% if sold_out %}
        <span class="product-item__sold-out">
          <span class="sold-out-text">
            {{ "products.product.sold_out" | t }}
          </span>
        </span>
      {% endif %}
    </a>
  </div>
  {% if settings.collection_vendor_enable %}
    <p class="product-item__vendor">{{ product.vendor }}</p>
  {% endif %}
  <p class="product-item__name">
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
  </p>
  <p class="product-item__price">
  {% comment %}
    You can show a leading 'from' or 'up to' by checking 'product.price_varies'
    if your variants have different prices.
  {% endcomment %}
  {% capture price %}{% include 'price' with product.price %}{% endcapture %}
  {% if on_sale %}
    <span class="product-item__price--old">{% include 'price' with product.compare_at_price %}</span>
    <span class="product-item__price sale-price">{% if product.price_varies %}{{ 'products.general.from_text_html' | t: price: price }}{% else %}{{ price }}{% endif %}</span>
  {% else %}
    <span class="product-item__price">
      {% if product.price_varies %}{{ 'products.general.from_text_html' | t: price: price }}{% else %}{{ price }}{% endif %}
    </span>
  {% endif %}
  </p>

</div>
