<div class="homepage-slider grid--full">
  <ul class="homepage-slider__slides owl-carousel grid-item one-whole">

    {% for i in (1..6) %}
      {% capture slide %}slide_{{ i }}{% endcapture %}
      {% capture slide_link %}slide_{{ i }}_link{% endcapture %}
      {% capture slide_img %}slide_{{ i }}.jpg{% endcapture %}
      {% capture slide_alt %}slide_{{ i }}_alt.jpg{% endcapture %}
      {% if settings[slide] %}
        <li>
          {% unless settings[slide_link] == blank %}
          <a href="{{ settings[slide_link] }}" class="slide-link">
            {{ slide_img | asset_url | img_tag: slide_alt }}
          </a>
          {% else %}
            {{ slide_img | asset_url | img_tag: slide_alt }}
          {% endunless %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

