{% if template contains 'article' or template contains 'blog' %}
  {% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}
  {% capture shareTitle %}{{ article.title }}{% endcapture %}

{% elsif template contains 'product' or template contains 'index' %}
  {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
  {% capture shareTitle %}{{ product.title }}{% endcapture %}

{% endif %}


<div class="social-sharing {{ shareButtonStyle }}" data-permalink="{{ permalinkURL }}">
  {% if settings.share_facebook %}
    <a target="_blank" href="//www.facebook.com/sharer.php?u={{ permalinkURL }}" class="share-product share-facebook">
      <span class="icon icon-facebook" aria-hidden="true"></span>
      <span class="share-title">{{ 'general.social.share_on_facebook' | t }}</span>
      <span class="share-count">0</span>
    </a>
  {% endif %}

  {% if settings.share_twitter %}
    <a target="_blank" href="//twitter.com/share?url={{ permalinkURL }}&amp;text={{ shareTitle | url_params_escape }}" class="share-product share-twitter">
      <span class="icon icon-twitter" aria-hidden="true"></span>
      <span class="share-title">{{ 'general.social.share_on_twitter' | t }}</span>
      <span class="share-count">0</span>
    </a>
  {% endif %}

  {% if settings.share_pinterest %}
    <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media=http:{{ product.featured_image | img_url: '1024x1024' }}&amp;description={{ shareTitle | url_params_escape }}" class="share-product share-pinterest">
      <span class="icon icon-pinterest" aria-hidden="true"></span>
      <span class="share-title">{{ 'general.social.share_on_pinterest' | t }}</span>
      <span class="share-count">0</span>
    </a>
  {% endif %}

  {% if settings.share_fancy %}
    <a target="_blank" href="http://www.thefancy.com/fancyit?ItemURL={{ permalinkURL }}&amp;Title={{ shareTitle | url_params_escape }}&amp;Category=Other&amp;ImageURL={{ product.featured_image | img_url: '1024x1024' }}" class="share-product share-fancy">
      <span class="icon icon-fancy" aria-hidden="true"></span>
      <span class="share-title">{{ 'general.social.share_on_fancy' | t }}</span>
    </a>
  {% endif %}

  {% if settings.share_google %}
    <a target="_blank" href="//plus.google.com/share?url={{ permalinkURL }}" class="share-product share-google">
      <!-- Cannot get Google+ share count with JS yet -->
      <span class="icon icon-google" aria-hidden="true"></span>
      <span class="share-count">+1</span>
    </a>
  {% endif %}
</div>
